.tabbable.tabs-below
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#tab1', :'data-toggle' => 'tab'}
        Network Load
    %li
      %a{:href => '#tab2', :'data-toggle' => 'tab'}
        Memory Footprint
    %li
      %a{:href => '#tab3', :'data-toggle' => 'tab'}
        Client Performance
    %li
      %a{:href => '#tab4', :'data-toggle' => 'tab'}
        Conflict Resolution
    %li
      %a{:href => '#tab5', :'data-toggle' => 'tab'}
        Dashboard

  .tab-content
    #tab1.tab-pane.active
      = render :partial => 'suite', :locals => {:tab => 'tab1'}

    #tab2.tab-pane
      = render :partial => 'suite', :locals => {:tab => 'tab2'}

    #tab3.tab-pane
      = render :partial => 'suite', :locals => {:tab => 'tab3'}

    #tab4.tab-pane
      .container
        .row
          .span12
            = render :partial => 'suite', :locals => {:tab => 'tab4'}
        .row
          #attr.span6
            %h1
              %small Attribute Resolution
          #seri.span6
            %h1
              %small Serialized Object

    #tab5.tab-pane
      = render :partial => 'dashboard'

:coffeescript
  # record active tab in localStorage
  $('.nav-tabs a').click ->
    localStorage.system_current = $(@).attr('href')
  # set active tab from localStorage
  $ ->
    $("a[href='\#{localStorage.system_current}']").click()

= javascript_include_tag 'benchmarking/benches'