!!!
%html
  %head
    %title Nomad
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
  %body
    :coffeescript
      @development = #{Rails.env.development?.inspect}
      @clientId = '#{request.session_options[:id]}'
      
    = yield